docker {
    enabled = true
}

params {
    base_path = '.'
}

process {
    container = 'sktrinh12/bionfox-tools:1.0'
    withName: SPLIT_FASTQ {
        cpus      = 2
        memory    = '6 GB'
        label     = 'spot'
    }

    withName: CREATE_INTERVALS {
        cpus      = 2
        memory    = '6 GB'
        label     = 'spot'
    }

    withName: BWA_MEM {
        cpus      = 4
        memory    = '6 GB'
        label     = 'spot'
    }

    withName: MARK_DUPLICATES {
        cpus      = 2
        memory    = '6 GB'
        label     = 'spot'
    }

    withName: BASE_RECALIBRATOR {
        cpus      = 2
        memory    = '6 GB'
        label     = 'spot'
    }

    withName: APPLY_BQSR {
        cpus      = 4
        memory    = '6 GB'
        label     = 'spot'
    }

    withName: COLLECT_METRICS {
        cpus      = 2
        memory    = '4 GB'
        label     = 'spot'
    }

    withName: HAPLOTYPE_CALLER {
        cpus      = 4
        memory    = '7 GB'
        label     = 'ondemand'
    }

    withName: SELECT_VARIANTS {
        cpus      = 4
        memory    = '8 GB'
        label     = 'ondemand'
    }
}

profiles {

    local {
        process.executor = 'local'
        params.outdir = 'results'
    }

    awsbatch {

        process {
            executor = 'awsbatch'
            time     = '6h'
            queue = 'nf-spot-queue'

            withLabel: 'spot' {
                queue = 'nf-spot-queue'
                errorStrategy = 'retry'
                maxRetries = 2
            }

            withLabel: 'ondemand' {
                queue = 'nf-ondemand-queue'
                errorStrategy = 'terminate'
            }
        }

        aws {
            region = 'us-east-1'
            profile = 'rchsandbox'
        }

        params.base_path = 's3://preludetx-strinh/nextflow/wgs-variant-calling-bioinformagician'
        params.outdir = 's3://preludetx-strinh/nextflow/wgs-variant-calling-bioinformagician/results'
        workDir = 's3://preludetx-strinh/nextflow/work'
    }
}

/*
 * Optional: DAG visualisation
 */
dag.enabled = true
