// dag.enabled = true
params.outdir = 'results'
params.filtering = 'cnn'

docker {
    enabled = true
}

params {
    base_path = '.'
}

process {
    container = 'sktrinh12/bionfox-tools:1.1'

    withName: CREATE_INTERVALS {
        cpus      = 2
        memory    = '3 GB'
        label     = 'spot'
    }

    withName: BWA_MEM {
        cpus      = 2
        memory    = '2.5 GB'
        label     = 'spot'
    }

    withName: MARK_DUPLICATES {
        container = 'broadinstitute/gatk:latest'
        cpus      = 2
        memory    = '3 GB'
        label     = 'spot'
    }

    withName: BASE_RECALIBRATOR {
        cpus      = 2
        memory    = '3 GB'
        label     = 'spot'
    }

    withName: APPLY_BQSR {
        cpus      = 4
        memory    = '3 GB'
        label     = 'spot'
    }

    withName: COLLECT_METRICS {
        container = 'broadinstitute/gatk:latest'
        cpus      = 2
        memory    = '3.25 GB'
        label     = 'spot'
    }

    withName: HAPLOTYPE_CALLER {
        container = 'broadinstitute/gatk:latest'
        cpus      = 4
        memory    = '3.25 GB'
        label     = 'ondemand'
    }


    withName: MERGE_SAMPLE_GVCFS {
        container = 'broadinstitute/gatk:latest'
        cpus      = 2
        memory    = '2.25 GB'
        label     = 'ondemand'
    }

    withName: GENOMICSDB_IMPORT {
        container = 'broadinstitute/gatk:latest'
        cpus      = 2
        memory    = '2 GB'
        label     = 'spot'
    }

    withName: GENOTYPE_GVCFS {
        container = 'broadinstitute/gatk:latest'
        cpus      = 2
        memory    = '2 GB'
        label     = 'spot'
    }

    withName: GATHER_COHORT_VCFS {
        container = 'broadinstitute/gatk:latest'
        cpus      = 2
        memory    = '2 GB'
        label     = 'spot'
    }

    withName: VQSR_RECALIBRATE_SNP {
        container = 'broadinstitute/gatk:latest'
        cpus      = 2
        memory    = '2 GB'
        label     = 'spot'
    }

    withName: VQSR_RECALIBRATE_INDEL {
        container = 'broadinstitute/gatk:latest'
        cpus      = 2
        memory    = '2 GB'
        label     = 'spot'
    }

    withName: APPLY_VQSR_SNP {
        container = 'broadinstitute/gatk:latest'
        cpus      = 2
        memory    = '2 GB'
        label     = 'spot'
    }

    withName: APPLY_VQSR_INDEL {
        container = 'broadinstitute/gatk:latest'
        cpus      = 2
        memory    = '2 GB'
        label     = 'spot'
    }

    withName: HARD_FILTER {
        container = 'broadinstitute/gatk:latest'
        cpus      = 2
        memory    = '2 GB'
        label     = 'spot'
    }

    withName: FUNCOTATOR {
        container = 'broadinstitute/gatk:latest'
        cpus      = 2
        memory    = '2 GB'
        label     = 'spot'
    }

    withName: VCF_STATS {
        container = 'broadinstitute/gatk:latest'
        cpus      = 2
        memory    = '2 GB'
        label     = 'spot'
    }

}

profiles {

    local {
        process.executor = 'local'
    }

    awsbatch {

        process {
            executor = 'awsbatch'
            time     = '6h'
            queue = 'nf-spot-queue'

            withLabel: 'spot' {
                queue = 'nf-spot-queue'
                errorStrategy = 'retry'
                maxRetries = 2
            }

            withLabel: 'ondemand' {
                queue = 'nf-ondemand-queue'
                errorStrategy = 'terminate'
            }
        }

        aws {
            region = 'us-east-1'
            profile = 'rchsandbox'
        }

        params.base_path = 's3://preludetx-strinh/nextflow/wgs-variant-calling-bioinformagician'
        params.outdir = 's3://preludetx-strinh/nextflow/wgs-variant-calling-bioinformagician/results'
        workDir = 's3://preludetx-strinh/nextflow/work'
    }

    k8s {
        process {
            executor = 'k8s'
            time     = '6h'

            withName: HAPLOTYPE_CALLER {
                cpus      = 2
                memory    = '3 GB'
            }
        }

        k8s {
            namespace = 'default'
            cleanup = false
            storageClaimName = 'nextflow-pvc'
            storageMountPath = '/workspace'
            debug {
                yaml = true
            }
        }

        params.base_path = 's3://preludetx-strinh/nextflow/wgs-variant-calling-bioinformagician'
        // use of k8s pvc (efs) for fast I/O operations and better de-bugging
        params.outdir    = '/workspace/results'
        workDir = "/workspace/work"
        executor {
            // The number of tasks the executor will handle in a parallel manner. A queue size of zero corresponds to no limit.
            queueSize = 1
        }
    }
}
